* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 244, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 30px;
}

select {
    padding: 5px;
    text-align: center;
}

input {
    padding: 5px;
}